.connection-status {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  background-color: red;
  width: 40px;
  height: 40px;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.connection-status.connecting {
  background-color: orange;
}

.connection-status.connected {
  background-color: green;
}

#messages {
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}