.connection-status {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  background-color: red;
  width: 40px;
  height: 40px;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.connection-status.connecting {
  background-color: orange;
}

.connection-status.connected {
  background-color: green;
}

#messages {
  min-height: 100px;
  max-height: 200px;
  overflow: auto;
  margin-bottom: 20px;
}

.col1 {
  float: left;
  width: 75%;
}

.col2 {
  float: left;
  width: 25%;
  text-align: center;
}

.col2 ul {
  padding: 0;
  list-style: none;
}

#users li {
  height: 48px;
  line-height: 48px;
}

#users li img {
  width: 48px;
  height: 48px;
}