.page {
  display: none;
}

body.title #about, 
body.overview #about, 
body.who #about,
body.intro #about,
body.pusher #about {
  display: none;
}

body.wait #about {
  display: block;
}

body.wait #intro {
  display: none !important;
}

body.title #title.page {
  display: block;
}

#messages {
  font-size: smaller;
}

.pusher-chat-widget {
  position: static !important;
}

.pusher-chat-widget label {
  float: left;
  clear: right;
}

.pusher-chat-widget textarea {
  float: left;
  clear: left;
}

.pusher-chat-widget button {
  float: left;
}

.pusher-chat-widget-footer {
  clear: both;
}

.pusher-chat-widget .activity-stream {
  padding-left: 0;
}

.ui-li-has-icon img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}