.slide.black {
  background-color: black !important;
}

.demo-video {
  position: absolute;
  top: -20px;
  left: -50px;
  width: 100px;
  height: 100px;
  z-index: 10000;
  
  background-image: url('../images/tv.png');
  
  transform:rotate(-35deg);
  -ms-transform:rotate(-35deg); /* IE 9 */
  -moz-transform:rotate(-35deg); /* Firefox */
  -webkit-transform:rotate(-35deg); /* Safari and Chrome */
  -o-transform:rotate(-35deg); /* Opera */
}

#interact_icon {
  position: fixed;
  right: 150px;
  top: 20px;
  width: 150px;
  z-index: 10000;
}

aside.notes {
  display: none;
}

.slide figure.side {
  width:50%; 
  float: left;
  text-align: center;
}

section.slide.image h2 {
  position: relative;
  z-index: 100;
  margin-top: 0.5em !important;
  padding-top: 0 !important;
}

section.slide.image h2.light {
  color: white;
  background-image: url('../images/trans.png');
}

section.slide.black h2.light a:visited {
  color: white;
}

section.slide.image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

section.slide.image img.no-stretch {
  width: auto;
  height: auto;
}

/* question notifications */
#gritter-notice-wrapper {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.gritter-item {
  padding: 2px 11px 8px 11px !important;
}

.gritter-title {
  font-weight: bold !important;
  font-size: 18px;
}

.gritter-item p {
  font-size: 16px !important!;
  font-style: italic !important;
}

/* chat */
.pusher-chat-widget {
  position: relative !important;
  left: 50%;
  margin-left: -150px !important;
  
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px !important;
  font-weight: normal;
  line-height: 18px;
  color: #404040;
  
  height: 80%;
}

.pusher-chat-widget label {
  float: left;
  clear: right;
}

.pusher-chat-widget textarea {
  float: left;
  clear: left;
}

.pusher-chat-widget button {
  float: left;
}

.pusher-chat-widget-footer {
  clear: both;
}

.pusher-chat-widget .activity-stream {
  padding-left: 0;
}

.pusher-chat-widget-header {
  border-bottom: 1px solid #EBEBEB !important;
  margin-bottom: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 5px !important;
  overflow: auto !important;
}

.pusher-chat-widget {
  position: relative !important;
  left: 50%;
  margin-left: -150px !important;
  width: 300px;
  background-color: whiteSmoke !important;
  border: 1px solid #EEE !important;
  margin-bottom: 0 !important;
  -webkit-border-radius: 6px 6px 6px 6px !important;
  -moz-border-radius: 6px 6px 6px 6px !important;
  border-radius: 6px 6px 6px 6px !important;
  padding-left: 10px !important;
  
  z-index: 1000;
}

.pusher-chat-widget li {

}

/* presence */
#whos_here {
  margin: 0;
  padding: 0;
}

.slide.smaller {
  font-size: 0.8em;
}

#introductions_notifications {
  height: 300px;
  overflow: auto;
}

#introductions_notifications li {
  font-size: 0.8em !important;
}

div.left, div.right {
  float: left;
  width: 50%;
}

div.two-thirds {
  width: 66%;
}

div.one-quarter {
  width: 25%;
}


div.three-quarters {
  width: 75%;
}

div.one-third {
  width: 33%;
}

/* snippet */
.snippet-text, .snippet-window {
  display: none !important;
}

.snippet-wrap pre.sh_sourceCode {
  line-height: 20px !important;
  padding: 0 !important;
}

.snippet-wrap pre.sh_sourceCode li {
  font-size: 18px !important;
}

#technologies {
  font-size: 0.8em;
}

#websockets {
  font-size: 0.8em;
}

.deck-container #title-slide.slide h2 {
  font-size: 1.5em;
}

.slide {
  background-image: url('../images/pusher w slogan.png') !important;
  background-repeat: no-repeat !important;
  background-position: bottom right !important;
  background-size: 20% !important;
}


#future {
  background-image: url('../images/internet_of_things.png') !important;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 40% !important;
}

.slide.nobg {
  background-image: none !important;
}

.slide.html5 {
  background-image: url('../images/html5logo.png') !important;
  background-repeat: no-repeat !important;
  background-position: bottom right !important;
  background-size: 40% !important;
}

.slide .tick {
  color: green;
  font-weight: bold;
}

.slide .cross {
  color: red;
  font-weight: bold;  
}

.slide .boo {
  font-size: 0.5em;
  color: red;
}

.deck-container {
  font-size: 1.75em;

  /* W3C */
  background-attachment: fixed;

  background-color: #D7D7D7 !important;
}

.deck-container section.slide {
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
  background: white;
  border: 2px solid white;
  padding: 44px 40px 20px 40px;
  box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}

.deck-container .slide h1 {
  font-size: 3.5em;
}

.deck-container .slide h1 small,
.deck-container .slide h2 small {
  font-size: 0.5em;
  color: #D7D7D7
}

.slide.image {
  list-style: none;
}

.deck-container section.slide.just-bullets ul li {
  font-size: 1.4em !important;
}

.deck-container section.slide.just-bullets ul li ul,
.deck-container section.slide.just-bullets ul li p
{
  margin-bottom: 0;
}

.deck-container section.slide.just-bullets ul li ul li {
  font-size: 0.8em !important;
}

.slide blockquote {
  font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 1em;
  padding: 1em 2em .5em 2em;
  color: black;
  background: white;
  position: relative;
  border: 1px solid #CDE;
  z-index: auto;
  border-image: initial;
}

.slide blockquote::before {
  content: "“";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5em;
  line-height: 1;
  color: #CCF0F0;
  z-index: 1;
}

.slide small {
  font-size: 0.75em;
}

.deck-container section.slide ul li {
  font-size: 0.8em;
}